.list-container {
  width: 1200px;
  margin-left: 20px;
}

.to-do-cards {
  width: 100%;
  gap: 20px;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  margin: 20px;

  line-height: 30px;
}

.card {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 2px solid #e1bee7;
  border-radius: 20px;

  box-shadow: 0 0 2px 2px #e1bee7;
}

.todo-title {
  font-size: 1.2rem;
  font-weight: bold;
}

/* .todo-body {
    font-weight:
  } */

.list-btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
}

.list-btn button {
  background-color: transparent;
  border: 2px solid #e1bee7;
  border-radius: 15px;
  padding: 7px;
  font-weight: bold;

  cursor: pointer;
}

button:hover {
  border: 3px solid #e1bee7;
}
