.header {
  width: 95%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto 0 auto;
  padding: 10px;
}

.react {
  width: 95%;
  max-width: 1200px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 40px;
  margin-top: 0;
}
